<h2 class="mb-5 text-center p-1">Erwin Kurnia Angular Test</h2>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">      
      <div  class="form-group p-2" >
            <label>
              Please type your message:</label>
              <textarea formControlName="message" placeholder="Your message must be atleast 15 chars long" ng-model="message" class="form-control"></textarea>    
            <div *ngIf="myForm.get('message').invalid && (myForm.get('message').dirty || myForm.get('message').touched)" class="alertvalidation">
              Messages must be at least 15 characters long.
            </div>
      </div>
      <div  class="form-group p-2" >
            <label>
              Resto Name:</label>
              <input type="text" class="form-control" value="{{Resto.name}}">     
          </div>
      <div  class="form-group p-2" >
        <label>
          Url Description Contents:
          </label><p></p>
          <textarea  [attr.disabled]="words >100 ? '' : null" (keydown)="wordCounter()" #text id="wmd-input" name="posttext" 
            class="wmd-input s-input bar0 js-post-body-field processed" data-post-type-id="2" cols="92" rows="15" tabindex="101" data-min-length="" oncopy="return false;" onpaste="return false;" oncut="return false;">{{Resto.description}}
          </textarea>
            
          <div>Words count in description content :<span id="wordCount"> {{ words-1 }}</span>
          </div>
      </div>
    </form>
</div>
<div class="container custom-container-2">
  <!-- Show this message when there is no Data -->
  <div class="no-data text-center" *ngIf="Resto.length == 0">
    <p>There is no Data in Resto DB added yet!</p>
  </div>
  <div class="p-5">
    <div *ngIf="Resto.length !== 0">
      <h3 class="mb-3 text-center">Resto URL List</h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>       
              <th scope="col">No</th>       
              <th scope="col">Top 10 description words</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let restodesc of myArray | slice:0:10;  let i = index">
              <td class="col-1">{{ i+1 }}</td>
              <td>{{ restodesc.replace(',', '') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>