<h2 class="mb-5 text-center p-1">Erwin Kurnia Angular Test</h2>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">      
      <div  class="form-group p-1" >
            <label>
              Message:</label>
              <textarea formControlName="message" placeholder="Your message must be atleast 15 chars long" ng-model="message" class="form-control"></textarea>    
            <div *ngIf="myForm.get('message').invalid && (myForm.get('message').dirty || myForm.get('message').touched)" class="alertvalidation">
              Messages must be at least 15 characters long.
            </div>
      </div>
      <div  class="form-group p-1" >
            <label>
              Contents:</label>
            <input type="text" class="form-control" formControlName="name">     
          <!-- <button class="btn btn-primary btn-block" type="submit" [disabled]="myForm.invalid">Send</button> -->
      </div>
    </form>
</div>